NET "CLK"					LOC = P16;

NET "BTN(0)"					LOC = P92;
NET "BTN(1)"					LOC = P91;
NET "BTN(2)"					LOC = P88;
NET "BTN(3)"					LOC = P87;
NET "BTN(4)"					LOC = P86;
NET "BTN(5)"					LOC = P85;
NET "BTN(6)"					LOC = P83;
NET "BTN(7)"					LOC = P82;
NET "BTN(8)"					LOC = P81;

NET "RESET"					LOC = P17;

NET "out1[0]"				LOC = P80;
NET "out1[1]"				LOC = P79;
NET "out2[0]"				LOC = P78;
NET "out2[1]"				LOC = P77;
NET "out3[0]"				LOC = P76;
NET "out3[1]"				LOC = P75;
NET "out4[0]"				LOC = P74;
NET "out4[1]"				LOC = P71;
NET "out5[0]"				LOC = P70;
NET "out5[1]"				LOC = P52;
NET "out6[0]"				LOC = P51;
NET "out6[1]"				LOC = P50;
NET "out7[0]"				LOC = P49;
NET "out7[1]"				LOC = P48;
NET "out8[0]"				LOC = P46;
NET "out8[1]"				LOC = P45;
NET "out9[0]"				LOC = P44;
NET "out9[1]"				LOC = P13;

NET "out_turn[0]"			LOC = P14;
NET "out_turn[1]"			LOC = P15;